 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin-bottom: 0.5rem;
     font-weight: 400;
     line-height: 1.5;
 }

 h1 {
     font-size: 2.5rem;
 }

 h2 {
     font-size: 2rem
 }

 h3 {
     font-size: 1.75rem
 }

 h4 {
     font-size: 1.5rem
 }

 h5 {
     font-size: 1.25rem
 }

 h6 {
     font-size: 1rem
 }

 .lead {
     font-weight: 300;
     font-size: 2rem;
 }

 .banner {
     font-size: 2.7rem;
     margin: 0;
     padding: 2rem 1rem;
     background-color: #0d1c2c;
     color: white;
 }

 body {
     margin: 0;
     font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

 code {
     font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
     font-size: 87.5%;
     color: #e83e8c;
     word-break: break-word;
 }

 .left-column {
     padding: .75rem;
     max-width: 75%;
     min-width: 55%;
 }

 .right-column {
     padding: .75rem;
     max-width: 25%;
 }

 .container {
     width: 100%;
 }

 li {
     margin: 0.75rem;
 }

 .right-section {
     margin-left: 1rem;
     padding-left: 0.5rem;
 }

 .right-section h3 {
     padding-top: 0;
     font-weight: 200;
 }

 .right-section ul {
     border-left: 0.3rem solid #71aeef;
     list-style-type: none;
     padding-left: 0;
 }

 .provided-code {
     border-left: 0.3rem solid #71aeef;
     padding-left: 10px;
 }

 .provided-code h3 {
     font-weight: 200;
 }

 .styled-table {
     border-collapse: collapse;
     margin: 25px 0;
     font-size: 0.9em;
     font-family: sans-serif;
     min-width: 400px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }

 .styled-table thead tr {
     background-color: #009879;
     color: #ffffff;
     text-align: left;
 }

 .styled-table th,
 .styled-table td {
     padding: 12px 15px;
 }

 .styled-table tbody tr {
     border-bottom: 1px solid #dddddd;
 }

 .styled-table tbody tr:nth-of-type(even) {
     background-color: #f3f3f3;
 }

 .styled-table tbody tr:last-of-type {
     border-bottom: 2px solid #009879;
 }

 .styled-table tbody tr.active-row {
     font-weight: bold;
     color: #009879;
 }

 #display_header {
     text-align: left;
 }

 #input_id {
     width: 15px;
 }

 #input_price {
     width: 50px;
 }

 #input_price {
     width: 50px;
 }

 #btn_add_item {
     margin-left: 30px;
 }
 